<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Recipe</title>
  </head>
  <body>
    <h1>Now Editing: <%= @recipe.name %>
      <form action="/recipes/<%= @recipe.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <label for="name">Name: </label>
        <input type="text" name="name" value="<%= @recipe.name %>">
        <label for="ingredients">Ingredients: </label>
        <input type="text" name="ingredients" value="<%= @recipe.ingredients %>">
        <label for="cooking_time">Cooking Time: </label>
        <input type="text" name="cooking_time" value="<%= @recipe.cooking_time %>">
      </form>
  </body>
</html>
